@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* { box-sizing: border-box; }

body,
html {
    font: 400 16px/1.3 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 1em;
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    margin-left: -2em;
    margin-right: -2em;
}

[class^="col-md-"],
[class*=" col-md-"] {
    float: left;

    padding-left: 2em;
    padding-right: 2em;
}
.col-md-8 {
    width: 66.666666667%;
}
.col-md-6 {
    width: 50%;
}
.col-md-4 {
    width: 33.333333333%;
}

.page-header {
    border-bottom: 1px solid black;
    padding: 0.75em 0;
}
.page-title {
    margin: 0;
    font-size: 2.2em;
    font-weight: normal;
}
.main-form {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1em;
    margin-top: 2.5em;

    position: relative;
}
.main-form__title {
    position: absolute;
    background: white;
    top: -0.8em;
    left: 0.3em;
    margin: 0;
    padding: 0 0.3em;
}
.form-control,
.control-help,
.control-label {
    display: block;
    width: 100%;
    margin-bottom: 0.3em;
}
.control-help {
    font-style: italic;
    font-size: 0.9em;
}
.form-control {
    padding: 0.6em;
}
.form-group {
    margin: 1em 0;
}
.form-group:last-child {
    margin-bottom: 0;
}
.btn {
    background: black;
    color: white;
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 1em;
    padding: 0.75em 1.5em;
    font-weight: normal;
}
.btn--block {
    display: block;
    width: 100%;
}
.existing-tickets {
    background: #eee;
    padding: 2em;
}
.existing-tickets__title {
    margin: 0;
}
.ticket-list {
    list-style: none;
    padding: 0;
}
.ticket-list li {
    padding: 0 0 1em;
}
.ticket-list__title {
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}
.ticket-list__user {
    font-style: italic;
}

.ticket-details {
    position: fixed;
    top: 1em;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.6);
    width: 600px;
    max-width: 100%;
    padding: 2em;
    overflow-y: scroll;
}
.ticket-details__title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.3em;
}
.ticket-details__priority {
    width: 1em;
    height: 1em;
    background: grey;
    display: inline-block;
    border-radius: 0.5em;
    margin-right: 0.2em;
    overflow: hidden;
    text-indent: 1em;

    transform: translateY(0.1em);
}

.ticket-details__priority--annoyance { background: limegreen; }
.ticket-details__priority--trivial { background: lightgreen; }
.ticket-details__priority--dont-worry { background: lightblue; }
.ticket-details__priority--overblown { background: pink; }
.ticket-details__priority--potential-issue { background: red; }

.ticket-details__user,
.ticket-details__department,
.ticket-details__time {
    margin: 0;
    font-size: 0.8em;
}
.ticket-details__contact {
    text-align: right;
    font-size: 0.8em;
    display: block;
}
.ticket-details__dismiss {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    text-decoration: none;
    border-radius: 1em;
    font-size: 1.4em;
    width: 1.5em;
    height: 1.5em;
    display: block;
    text-align: center;
    line-height: 1.5;
}
.ticket-details__dismiss:hover {
    background: #eee;
}


@media screen and (max-width: 800px) {
    .row {
        margin: 0;
    }

    [class^="col-md-"],
    [class*=" col-md-"] {
        float: none;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .existing-tickets {
        padding: 2em;
    }
    .ticket-details {
        top: 0;
        bottom: 0;
        width: 100%;
    }
}
